colorama==0.4.6
iniconfig==2.1.0
-e git+ssh://git@github.com/Nano-DNA-Studios/NCL.git@5e8d29062a62d68ce55593259fef65ab79f17eff#egg=ncl
numpy==2.3.3
packaging==25.0
pandas==2.3.3
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
